/* General styles for forms */
form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
}

form input[type="submit"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #5C6BC0;
}

.link-like {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.link-like:hover {
    color: #ffeb3b; /* Change color on hover to give a visual cue */
}
