html, body {
    background-color: black;
    overflow: hidden;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #5C6BC0;
    cursor: pointer;
}

.link-like {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.link-like:hover {
    color: #ffeb3b;
}
